<div class="terminal">

  <!-- HEADER -->
  <div class="terminal-header">

    <div class="terminal-left">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
        class="w-5 h-5 text-white ">
        <path d="M4 5h12v7H4V5z"></path>
        <path fill-rule="evenodd"
          d="M1 3.5A1.5 1.5 0 012.5 2h15A1.5 1.5 0 0119 3.5v10a1.5 1.5 0 01-1.5 1.5H12v1.5h3.25a.75.75 0 010 1.5H4.75a.75.75 0 010-1.5H8V15H2.5A1.5 1.5 0 011 13.5v-10zm16.5 0h-15v10h15v-10z"
          clip-rule="evenodd"></path>
      </svg>

      <div class="terminal-title">

        CareFlow AI Consultation Shell
      </div>

    </div>

    <button class="close-btn" (click)="closeTerminal()">
      ✕
    </button>

  </div>

  <!-- BODY -->
  <div class="terminal-body" #terminalBody>

    <!-- TERMINAL OUTPUT -->
    <div *ngFor="let line of terminalLines" class="terminal-line" [class.question]="line.includes('?')"
      [class.response]="line.startsWith('>')" [class.appointment]="line.includes('appointment')"
      [class.error]="line.includes('Error')">

      <span class="line-icon">

        <span *ngIf="line.includes('?')">🧠</span>
        <span *ngIf="line.startsWith('>')">➜</span>
        <span *ngIf="line.includes('appointment')">📅</span>
        <span *ngIf="line.includes('Error')">⚠️</span>

      </span>

      {{ line }}

    </div>

    <!-- AUTOCOMPLETE -->
    <div class="suggestions" *ngIf="filteredPatients.length > 0 && !isPatientSelected">

      <div class="suggestion-item" *ngFor="let patient of filteredPatients" (click)="selectPatient(patient)">

        👤 {{ patient.full_name_patient }}

      </div>

    </div>

    <!-- INPUT -->
    <div class="input-line">

      <span class="prompt">
        doctor@careflow:~$
      </span>

      <input [(ngModel)]="userInput" (input)="onTyping()" (keydown.enter)="submitAnswer()"
        placeholder="Type a command or patient name..." autofocus />

    </div>

    <div #bottomAnchor></div>

  </div>

</div>