<!-- App Start -->
<div id="root">
    <div class="app-layout-stacked-side flex flex-auto flex-col">
        <div class="flex flex-auto min-w-0">

            <div class="flex flex-col flex-auto min-h-screen min-w-0 relative w-full">
                <div class="h-full flex flex-auto flex-col justify-between">

                    <!-- Content -->
                    <main class="h-full">
                        <div class="page-container px-4 sm:px-6 md:px-8 py-4 sm:py-6">
                            <div class="container mx-auto">

                                <!-- HEADER -->
                                <div class="mb-4 flex items-center justify-between">
                                    <div class="col-lg-6 col-md-12">
                                        <div>
                                            <h2 class="fw-bold mb-1 consultation-title">
                                                Medical Consultation Center
                                            </h2>

                                            <p class="text-muted mb-0">
                                                Manage consultations, prescriptions and patient records
                                            </p>
                                        </div>
                                    </div>
                                    <button
                                        class="btn flex items-center gap-2 btn-consultation text-white me-2 font-light"
                                        (click)="startConsultation()">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true" class="w-5 h-5">
                                            <path
                                                d="M6.3 2.841A1.5 1.5 0 004 4.11V15.89a1.5 1.5 0 002.3 1.269l9.344-5.89a1.5 1.5 0 000-2.538L6.3 2.84z">
                                            </path>
                                        </svg>
                                        Start Consultation
                                    </button>

                                </div>

                                <!-- STATS -->
                                <!-- STATS CARDS -->
                                <div
                                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 mb-6 items-stretch">

                                    <!-- CARD 1 - Total consultations -->
                                    <div style="background-color: azure;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Total Consultations
                                            </span>

                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{consultation_.total_Consultation ?? 0}}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>

                                        </div>
                                    </div>

                                    <!-- CARD 2 - Today's consultations -->
                                    <div style="background-color: #dcfce7;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Today Sessions
                                            </span>

                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{consultation_.today_Consultation ??0}}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>
                                        </div>
                                    </div>

                                    <!-- CARD 3 - Upcoming -->
                                    <div style="background-color: #fff9db;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                PENDING
                                            </span>
                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{consultation_.upcoming ?? 0}}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>

                                        </div>
                                    </div>
                                    <!-- CARD 4 - Completed -->
                                    <div style="background-color: #e0e7ff;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Completed
                                            </span>



                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{consultation_.completed ?? 0}}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- TABLE -->
                                <div class="card consultation-table">
                                    <div class="card-body">
                                        <div class="overflow-x-auto">

                                            <table class="table-default table-hover min-w-full">

                                                <thead>
                                                    <tr>
                                                        <th>Patient</th>
                                                        <th>symptoms</th>
                                                        <th>Diagnosis</th>
                                                        <th>Prescription</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (
                                                    consultation of (consultation_.content ?? []);
                                                    track consultation;
                                                    let i = $index
                                                    ){

                                                    <tr>

                                                        <!-- Patient -->
                                                        <td>
                                                            {{ consultation?.patient?.fullName ?? 'Not found' }}
                                                        </td>

                                                        <!-- Doctor -->
                                                        <td>
                                                            {{ consultation.symptoms ?? 'Not found' }}
                                                        </td>

                                                        <!-- Date -->
                                                        <td>
                                                            {{ consultation.diagnosis ?? 'Not found' }}
                                                        </td>
                                                        <!-- Priority -->
                                                        <td>

                                                            <!-- IF PRESCRIPTIONS EXIST -->
                                                            @if (consultation.dto?.length) {
                                                            <div>
                                                                <!-- BUTTON -->
                                                                <div data-bs-toggle="collapse"
                                                                    [attr.data-bs-target]="'#prescription' + i">

                                                                    <i class="bi bi-capsule-pill me-1"></i>

                                                                    {{ consultation.dto.length }}
                                                                    Prescription

                                                                </div>

                                                                <!-- COLLAPSE CONTENT -->
                                                                <div class="collapse mt-3" [id]="'prescription' + i">
                                                                    @for (p of consultation.dto; track $index) {
                                                                    <div class="prescription-card">
                                                                        <div class="mb-2">
                                                                            <strong>Medicine:</strong>
                                                                            {{ p.medicineName }}
                                                                        </div>

                                                                        <div class="mb-2">
                                                                            <strong>Dosage:</strong>
                                                                            {{ p.dosage }}
                                                                        </div>

                                                                        <div class="mb-2">
                                                                            <strong>Frequency:</strong>
                                                                            {{ p.frequency }}
                                                                        </div>

                                                                        <div class="mb-2">
                                                                            <strong>Duration:</strong>
                                                                            {{ p.duration }}
                                                                        </div>

                                                                        <div>
                                                                            <strong>Instructions:</strong>
                                                                            {{ p.instructions }}
                                                                        </div>

                                                                    </div>
                                                                    }
                                                                </div>

                                                            </div>
                                                            }
                                                            <!-- NO PRESCRIPTIONS -->
                                                            <span *ngIf="!consultation.dto?.length"
                                                                class="badge bg-light text-dark">
                                                                No Prescription

                                                            </span>

                                                        </td>


                                                        <!-- Status -->
                                                        <td class="px-3 py-1 col-status ">
                                                            {{ consultation.status ?? 'Not found' }}
                                                        </td>

                                                        <td class="fix">
                                                            <div (click)="edit(consultation.id)"
                                                                class="text-primary-600 cursor-pointer select-none font-semibold">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                        d="M19 5.5a4.5 4.5 0 01-4.791 4.49c-.873-.055-1.808.128-2.368.8l-6.024 7.23a2.724 2.724 0 11-3.837-3.837L9.21 8.16c.672-.56.855-1.495.8-2.368a4.5 4.5 0 015.873-4.575c.324.105.39.51.15.752L13.34 4.66a.455.455 0 00-.11.494 3.01 3.01 0 001.617 1.617c.17.07.363.02.493-.111l2.692-2.692c.241-.241.647-.174.752.15.14.435.216.9.216 1.382zM4 17a1 1 0 100-2 1 1 0 000 2z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div
                                                                class="text-red-600 cursor-pointer select-none font-semibold">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                        d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    }

                                                    @empty {
                                                    <tr>
                                                        <td colspan="8" class="text-center py-6 text-gray-500">
                                                            No consultations found
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            <!-- PAGINATOR -->
                                            <mat-paginator [length]="consultation_.totalElements"
                                                [pageSize]="consultation_.pageSize" [pageIndex]="pageIndex"
                                                [pageSizeOptions]="[5,10,20,50]" showFirstLastButtons>
                                            </mat-paginator>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- LOADING -->
<ng-template #loadingTpl>
    <span class="animate-pulse">Loading consultations...</span>
</ng-template>