<!-- App Start -->
<div id="root">
    <div class="app-layout-stacked-side flex flex-auto flex-col">
        <div class="flex flex-auto min-w-0">

            <div class="flex flex-col flex-auto min-h-screen min-w-0 relative w-full">
                <div class="h-full flex flex-auto flex-col justify-between">

                    <!-- Content -->
                    <main class="h-full">
                        <div class="page-container px-4 sm:px-6 md:px-8 py-4 sm:py-6">
                            <div class="container mx-auto">

                                <!-- HEADER -->
                                <div class="mb-4 flex items-center justify-between">
                                    <h3>Appointment Management</h3>


                                    <button class="btn flex items-center gap-2 btn-consultation text-white me-2 font-light" (click)="go()">

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            aria-hidden="true" class="w-6 h-6">
                                            <path
                                                d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                                            <path fill-rule="evenodd"
                                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm-3 9.75v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5h-16.5z" />
                                        </svg>

                                        Add New Appointment
                                    </button>
                                </div>

                                <!-- STATS -->
                                <!-- STATS CARDS -->
                                <div
                                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 mb-6 items-stretch">

                                    <!-- CARD 1 - Total Appointments -->
                                    <div style="background-color: azure;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Total Appointments
                                            </span>

                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{List_appointments.total_Appointments }}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>

                                        </div>
                                    </div>

                                    <!-- CARD 2 - Today's Appointments -->
                                    <div style="background-color: #dcfce7;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Today's Appointments
                                            </span>

                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{List_appointments.today_Appointments }}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>
                                        </div>
                                    </div>

                                    <!-- CARD 3 - Upcoming -->
                                    <div style="background-color: #fff9db;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Upcoming
                                            </span>
                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{List_appointments.upcoming }}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>

                                        </div>
                                    </div>
                                    <!-- CARD 4 - Completed -->
                                    <div style="background-color: #e0e7ff;"
                                        class="card rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition h-full">

                                        <div class="p-4 flex flex-col justify-between h-full">

                                            <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
                                                Completed
                                            </span>



                                            <h3 class="mt-2 text-2xl font-bold text-slate-800 flex items-center gap-2">

                                                @if (!isLoading) {
                                                <span> {{List_appointments.completed }}
                                                </span>
                                                } @else {
                                                <ng-container>
                                                    <svg class="animate-spin text-sky-600 h-6 w-6" viewBox="0 0 16 16"
                                                        fill="currentColor">
                                                        <path d="M8 0c-4.355 0-7.898 3.481-7.998 7.812..."></path>
                                                    </svg>
                                                </ng-container>
                                                }

                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- TABLE -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="overflow-x-auto">

                                            <table class="table-default table-hover min-w-full">

                                                <thead>
                                                    <tr>
                                                        <th>Patient</th>
                                                        <th>Doctor</th>
                                                        <th>Date</th>
                                                        <th>Priority</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <input type="text" placeholder="Select Patient" matInput
                                                                [formControl]="patient_Control" [matAutocomplete]="auto"
                                                                (input)="search_data()" class="input">

                                                            <mat-autocomplete #auto="matAutocomplete"
                                                                [displayWith]="display_patient"
                                                                (optionSelected)="onPatientSelected($event.option.value)">
                                                                <mat-option
                                                                    *ngFor="let option of filteredPatients$ | async"
                                                                    [value]="option">
                                                                    {{ option.fullName }}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </th>
                                                        <th>
                                                            <select hidden class="input">
                                                                <option selected>----------</option>
                                                                <option value="en">English</option>
                                                                <option value="ch">Chinese</option>
                                                                <option value="es">Espanol</option>
                                                                <option value="ar">Arabic</option>
                                                            </select>
                                                        </th>
                                                        <th>


                                                            <input matInput type="datetime-local" class="input"
                                                                [formControl]="date_Control" (input)="search_data()" />

                                                        </th>
                                                        <th>
                                                            <select class="input" [formControl]="priority_Control"
                                                                (change)="search_data()">

                                                                <option [ngValue]="null">----------</option>

                                                                <option [ngValue]="Priority.LOW">Low</option>
                                                                <option [ngValue]="Priority.NORMAL">Normal</option>
                                                                <option [ngValue]="Priority.HIGH">High</option>
                                                                <option [ngValue]="Priority.URGENT">Urgent</option>

                                                            </select>
                                                        </th>
                                                        <th>
                                                            <select class="input" [formControl]="type_Control"
                                                                (change)="search_data()">

                                                                <option [ngValue]="null">----------</option>

                                                                <option [ngValue]="AppointmentType.CONSULTATION">
                                                                    Consultation</option>
                                                                <option [ngValue]="AppointmentType.FOLLOW_UP">Follow-up
                                                                </option>
                                                                <option [ngValue]="AppointmentType.EMERGENCY">Emergency
                                                                </option>
                                                                <option [ngValue]="AppointmentType.ONLINE">Online
                                                                </option>

                                                            </select>
                                                        </th>
                                                        <th>

                                                            <select class="input" [formControl]="status_Control"
                                                                (change)="search_data()">

                                                                <option [ngValue]="null">----------</option>

                                                                <option [ngValue]="AppointmentStatus.PENDING">Pending
                                                                </option>
                                                                <option [ngValue]="AppointmentStatus.CONFIRMED">
                                                                    Confirmed</option>
                                                                <option [ngValue]="AppointmentStatus.DONE">Done</option>
                                                                <option [ngValue]="AppointmentStatus.CANCELLED">
                                                                    Cancelled</option>

                                                            </select>
                                                        </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (
                                                    appointment of (List_appointments.content ?? []);
                                                    track appointment;
                                                    let i = $index
                                                    ){

                                                    <tr [ngClass]="{
  'row-cancelled': appointment.status?.trim().toUpperCase() === 'CANCELLED',
  'row-pending': appointment.status?.trim().toUpperCase() === 'PENDING',
  'row-done': appointment.status?.trim().toUpperCase() === 'DONE',
  'row-confirmed': appointment.status?.trim().toUpperCase() === 'CONFIRMED'
}">

                                                        <!-- Patient -->
                                                        <td>
                                                            {{ appointment.patient_name ?? 'Not found' }}
                                                        </td>

                                                        <!-- Doctor -->
                                                        <td>
                                                            {{ appointment.doctor_name ?? 'Not found' }}
                                                        </td>

                                                        <!-- Date -->
                                                        <td>
                                                            {{ appointment.appointmentDate ?? 'Not found' }}
                                                        </td>
                                                        <!-- Priority -->
                                                        <td>
                                                            {{ appointment.priority ?? 'Not found' }}
                                                        </td>

                                                        <!-- Type -->
                                                        <td>
                                                            {{ appointment.appointmentType ?? 'Not found' }}
                                                        </td>

                                                        <!-- Status -->
                                                        <td class="px-3 py-1 col-status ">
                                                            {{ appointment.status ?? 'Not found' }}
                                                        </td>

                                                        <td class="fix">
                                                            <div (click)="edit_appointment(appointment.id)"
                                                                class="text-primary-600 cursor-pointer select-none font-semibold">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                        d="M19 5.5a4.5 4.5 0 01-4.791 4.49c-.873-.055-1.808.128-2.368.8l-6.024 7.23a2.724 2.724 0 11-3.837-3.837L9.21 8.16c.672-.56.855-1.495.8-2.368a4.5 4.5 0 015.873-4.575c.324.105.39.51.15.752L13.34 4.66a.455.455 0 00-.11.494 3.01 3.01 0 001.617 1.617c.17.07.363.02.493-.111l2.692-2.692c.241-.241.647-.174.752.15.14.435.216.9.216 1.382zM4 17a1 1 0 100-2 1 1 0 000 2z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div (click)="delete_appointment(appointment.id)"
                                                                class="text-red-600 cursor-pointer select-none font-semibold">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                        d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div (click)="snooze_reminder(appointment.whatsApp_number)"
                                                                class="text-indigo-600 cursor-pointer select-none font-semibold">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>


                                                        </td>

                                                    </tr>
                                                    }

                                                    @empty {
                                                    <tr>
                                                        <td colspan="8" class="text-center py-6 text-gray-500">
                                                            No appointments found
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            <!-- PAGINATOR -->
                                            <mat-paginator [length]="List_appointments.totalElements"
                                                [pageSize]="List_appointments.pageSize" [pageIndex]="pageIndex"
                                                [pageSizeOptions]="[5,10,20,50]" (page)="handlePageEvent($event)"
                                                showFirstLastButtons>
                                            </mat-paginator>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- LOADING -->
<ng-template #loadingTpl>
    <span class="animate-pulse">Loading appointments...</span>
</ng-template>