/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.swal-popup {
  border-radius: 15px;
}

.swal2-confirm {
 background-color: #28a745 !important;
  color: white !important;  
  border: none !important;
  padding: 10px 25px !important;
      font-weight: 400 !important;
}

.swal2-cancel {
   background-color: #dc3545 !important;
  border: none !important;
        font-weight: 400 !important;

}
.fix{display: flex;
    gap: 10px;}
    /* BUTTON */
.btn-consultation {
    background: linear-gradient(135deg, #12b0c3, #13b6ad);
    
    color: #fff;
    border: none;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(37, 99, 235, 0.2);
}
.btn-consultation:hover {
    transform: translateY(-2px);
    color: #fff;
}