/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.swal-popup {
  border-radius: 15px;
}

.swal2-confirm {
 background-color: #28a745 !important;
  color: white !important;  
  border: none !important;
  padding: 10px 25px !important;
      font-weight: 400 !important;
}

.swal2-cancel {
   background-color: #dc3545 !important;
  border: none !important;
        font-weight: 400 !important;

}
.fix{display: flex;
    gap: 10px;}